.Calc-key {
  color: white;
  font-weight: bold;
  background-color: #444;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Calc-key.operand {
  background-color: orange;
}

.Calc-key.operator {
  background-color: #444;
}

.Calc-key.operator.enter {
  color: #444;
  background-color: lightgray;
}