.Result-panel {
  width: 706px;
  padding: 0;
  border: 1px solid #ccc;
  overflow: hidden;
}

.Result-container {
  height: 200px;
  margin: 0 auto;
  overflow: auto;
  transform: rotate(180deg);
  direction: rtl;
}


.Result-item {
  border-bottom: solid 1px #eee;
  transform: rotate(180deg);
  padding: 5px;
}

.Result-item.input {
  background-color: #eee;
  transform: none;
  direction: rtl;
}