.Result-panel {
  height: 225px;
  width: 708px;
  padding: 0 5px 0 0;
  overflow-y: scroll;
}

.Result-panel>ul {
  padding: 170px 0 0 0;
}

.Result-item {
  text-align: right;
  list-style: none;
  margin: 5px 0;
  padding: 2px 5px 2px 0;
}

.Result-item.input {
  background-color: lightgrey;
  padding: 5px;
}