.Result-panel {
  width: 706px;
  padding: 0;
  border: 1px solid #ccc;
  overflow: hidden;
  display: grid;
  grid-template: 200px 29px/1fr;
  align-items: end;
}

.Result-container {
  max-height: 200px;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}


.Result-item {
  border-top: solid 1px #eee;
  padding: 5px;
  text-align: right;
}

.Result-item.input {
  background-color: #eee;
}